
    .content-z{
        margin: auto;
    }
    
.main-container
{
    padding-bottom: 20px;
    border: 1px solid #fdfdfd;
    border-radius: 25px;
    width: 1030px;
    height: 380px;
    margin-left: 63px;
    margin-top: 100px;
}

.main-container h3
{
    font-family: var(--font-family-bold);
   
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    color: #007DB8;
    line-height: 2.5;
}
.content-z{
    list-style: none;
    line-height: 1.7;
    margin-left: 20px;
    margin-right: 20px;
}
.content-z li p
{
    margin-bottom: 18px;
    font-size: 11.8px;
    color: #384555;
    text-align: justify;
}


.container-foot{
   
    display: flex;
    justify-content: space-between;
   
    border-radius: 8px;
   
    font-size: 18px;
}


.column h2 {
    color: #0073e6;
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 3;
}

.contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-info #imghh {
    margin-right: 8px;
   font-size: 12px;
}

.contact-info span {
    font-size: 10px;
    color: #333;
}

.contact-info a {
    color: #333;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;

}
.line
{
  border-bottom: 1px solid #c6def1;
  width: 1030px;
 
  margin-top: 150px;

}
